/*-- scss:defaults --*/
// Import variables
@import "bootswatch/_variables.scss";

// Base document colors
$body-bg: #181818;
$body-color: #ccc;
$link-color: #75AADB;

// Code blocks
$code-block-bg-alpha: -.9;

// Navbar
$navbar-bg: $primary;
$navbar-fg: $secondary;

// Tabsets
.nav-link {
    color: $secondary !important;
}

.nav-link.active {
    color: $primary !important;
}

/*
// TOC
.sidebar nav[role=doc-toc] ul > li > a.nav-link.active {
    border-left: 1px solid $primary !important;
    color: $primary !important;
}
*/

.menu-text {
    color: $secondary !important;
}