/*-- scss:defaults --*/
// Import variables
@import "bootswatch/_variables.scss";

// Base document colors
$body-bg: #181818;
$body-color: #ccc;
$link-color: #75AADB;

// Code blocks
$code-block-bg-alpha: -.9;

// Navbar
$navbar-bg: $primary;
$navbar-fg: $secondary;